#page-top {
    font-family: 'Raleway';
}
.right {
    float: right !important;
}
.teal-text {
    color: #11d4d4 !important;
}
.teal-text:hover {
    color: #a1f7f7 !important;
}
.body-font {
    font-size: 18;
}
.center {
    text-align: center;
}
.heading {
    font-family: 'Cherry Swash', serif;
    font-size: 34;
}
.subheading {
    color: grey;
}
.intro {
    height: 100%;
    padding-top: 250px;
    text-align: left;
    background-image: url(IMG.jpg);
    background-position: right 75px;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
.white-section {
    height: auto;
    padding-top: 50px;
    text-align: left;
    background-color: whitesmoke;
}
.teal-section {
    height: auto;
    padding-top: 50px;
    text-align: left;
    background-color: #a1f7f7;
}