.center {
    text-align: center;
}
.link-color {
    color: #eee;
}
.link-color:hover {
    color: #13DAEC;
    text-decoration: none !important;
}
.text {
    font-family: 'Raleway' !important;
}
.medium {
    font-size: .6em !important;
}
.large {
    font-size: .8em !important;
}
body {
    font-size: 100%;
}
h2,h3,h5 {
    font-family: 'Raleway Dots' !important;
    color: #13DAEC !important;
}
h4,h6 {
    font-family: 'Raleway Dots' !important;
}